@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.main_app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 14px;
  background-color: rgb(147, 155, 155);
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 15px;
  border-radius: 30px;
  background-color: rgb(224, 78, 224);
}

.scroll-hide{
  scroll-behavior: smooth;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  scroll-snap-type: x mandatory;
  scroll-padding: 0 20px;
  animation-delay: 0.5s;
}

.scroll-hide::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}